<div style="padding-top: 50px">
  <button nz-button nzType="primary" style='margin-bottom: 20PX;' (click)="openDialog('添加')">添加</button>
  <nz-table #basicTable [nzData]="mylist" [nzSize]="'small'">
    <thead>
      <tr>
        <th>登记时间</th>
        <th>工作类型</th>
        <th>所属模块</th>
        <th>描述</th>
        <th>状态</th>
        <th>处理人名字</th>
        <th>预计完成时间</th>
        <th>实际完成时间</th>
        <th>测试人员名字</th>
        <th>备注</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.RegisterTime|date:'yyyy-MM-dd HH:mm'}}</td>
        <td>{{data.TaskCategory}}</td>
        <td>{{data.Module}}</td>
        <td>{{data.Description}}</td>
        <td>{{data.TaskStatus}}</td>
        <td>{{data.DisposerNames}}</td>
        <td>{{data.EstimatedTime|date:'yyyy-MM-dd HH:mm'}}</td>
        <td>{{data.ActualTime|date:'yyyy-MM-dd HH:mm'}}</td>
        <td>{{data.TesterNames}}</td>
        <td>{{data.Remark}}</td>
        <td>
          <a style="color: rgb(40, 40, 161)" (click)="openDialog('编辑',data)">编辑</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a style="color: red" nz-popconfirm nzTitle="是否删除?" (nzOnConfirm)="delete(data.Id)">删除</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
